html body {
    padding: 0;
    margin: 0;
}

.mainDiv {
    background-color: pink;
    width: screen;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}